@model CLIP.Models.Monitoring

@{
    ViewBag.Title = "Delete Monitoring Type";
}

<h2>Delete Monitoring Type</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonitoringName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringFreq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringFreq)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div> 